// Barra de navegación
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-unit;
  background-color: $primary-color;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: $spacing-unit;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}